<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>图形展示</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <input class="btn btn-block btn-primary btn-sm float-right" type="button" value="生成带有图片的文档"
               onclick="generate()">
    </div>
    <div class="row">
        <ul class="clearfix">
            <li th:id="'echart0'+${e}" th:each="e:${#numbers.sequence(1,13)}"
                style="width: calc(100vw / 4);height: calc(100vh/ 3); list-style: none; float: left;margin-top:10px;"></li>
        </ul>
    </div>
</div>
</body>
<script th:src="@{/js/jquery/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/path/ctxPath.js}"></script>
<script th:src="@{/js/echarts/echarts.min.js}"></script>
<script>
	var xAxisData = [ 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24 ];
	var option = {
		tooltip : {
			trigger : 'axis'
		},
		color : [ '#FF4500', '#00BFFF' ],
		icon : "circle",
		legend : {
			x : '200px',
			y : '10px',
			data : [ '飞行器1号', '飞行器2号' ],
			textStyle : {
				fontSize : 14,//字体大小
				color : '#FF4500'//字体颜色
			},

		},
		grid : {
			left : '0px',
			// right: '0px',
			bottom : '0px',
			y:0,
			containLabel : true
		},
		xAxis : {
			type : 'category',
			name : '小时',
			nameGap : '15',
			show : true,
			boundaryGap : false,
			axisLabel : {
				textStyle : {
					color : '#808080'
				}
			},
			splitArea : {
				show : false,
			},
			splitLine : {
				show : true,
				lineStyle : {
					width : 0.5,
					type : 'dotted'//'solid' 'dashed' 'dotted'
				}
			},
			axisLine : {
				lineStyle : {
					color : '#808080',
					width : 2,
				},
				symbol : [ 'none', 'arrow' ]
			},
			/* data : [ 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24 ] */
			data : xAxisData
		},
		yAxis : {
			type : 'value',
			name : '数值',
			show : true,
			axisLabel : {
				textStyle : {
					color : '#808080'
				}
			},
			splitArea : {
				show : false,
			},
			splitLine : {
				show : true,
				lineStyle : {
					width : 0.5,
					type : 'dotted'//'solid' 'dashed' 'dotted'
				}
			},
			axisLine : {
				lineStyle : {
					color : '#808080',
					width : 2,
				},
				symbol : [ 'none', 'arrow' ]
			},
		},
		series : [ {
			name : '飞行器1号',
			type : 'line',
			smooth : true,
			lineStyle : {
				normal : {
					color : '#FF4500',
					width : 2
				}
			},
			/* areaStyle : {
				normal : {
					color : new echarts.graphic.LinearGradient(0, 1, 0, 0, [ {
						offset : 0,
						color : 'red'
					}, {
						offset : 1,
						color : 'yellow'
					} ]),
				},
			}, */
			/* data : [ 4, 10, 40, 60, 100, 120, 140, 150, 130, 100, 60, 30, 20 ] */
			data : []
		}, {
			name : '飞行器2号',
			type : 'line',
			smooth : true,
			lineStyle : {
				normal : {
					color : '#00BFFF',
					width : 2
				}
			},
			/* areaStyle : {
				normal : {
					color : new echarts.graphic.LinearGradient(0, 1, 0, 0, [ {
						offset : 0,
						color : '#4B4558'
					}, {
						offset : 1,
						color : '#516359'
					} ]),
				},
			}, */
			/* data : [ 3, 8, 30, 50, 110, 100, 80, 100, 120, 90, 60, 20, 10 ] */
			data : []
		} ]
	};

	let es = [];
	for(let i = 0;i < 14;i++){
	    //声明新的图表
	    es[i] = echarts.init(document.getElementById('echart0'+(i+1)));
	    //组装数据
	    var aeroCraftData02a = [ 4, 10, 40, 60, 90, 120, 140, 170, 130, 100, 60, 30, 70 ];
        var aeroCraftData02b = [ 3, 8, 30, 50, 60, 160, 130, 100, 150, 90, 60, 20, 50 ];
        option.series[0].data = aeroCraftData02a;
        option.series[1].data = aeroCraftData02b;
        //设置参数
        es[i].setOption(option);
	}
//导出
	function generate() {
		var data = [];
		if(es){
		    for(let i = 0;i < es.length;i++){
		        data.push(es[i].getDataURL());
		    }
		}
		var json = JSON.stringify(data);
		$.ajax({
			url : root+ "/aerocraft/generate",
			dataType : "json",
			async : true,
			data : {
				"data" : json
			},
			type : "POST",
			beforeSend : function() {
				//请求前的处理
				$('#submit').attr('disabled', true);
			},
			success : function(req) {
				//请求成功时处理
			},
			complete : function() {
				//请求完成的处理
				$('#submit').removeAttr('disabled');
			},
			error : function(e) {
				//请求出错处理
			}
		});
	}




</script>
</html>